body {
  --background-color: #2e3138;
  --block-background-color: #2d3037;
  --text-white: #ffffff;
  --distance-6: 6px;
  --distance-8: 8px;
  --distance-10: 10px;
  --distance-12: 12px;
  --distance-16: 16px;
  --distance-24: 24px;
  --distance-32: 32px;
  --font-14: 14px;
  --font-16: 16px;
  --color-disabled: #b0aeb9;
}
